.main-search {
  width: 938px;
  padding-left: 32px;
  padding-bottom: 36px;
  padding-top: 15px;
}

input {
  height: 40px;
}

@media screen and (max-width: 500px) {
  input {
    width: 388px;
  }
  .main-search {
    width: 388px;
    padding-left: 16px;
  }
}
